/****** Object:  Table [dbo].[BaoCaoHaoHut]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoHaoHut](
	[baoCaoID] [int] IDENTITY(1,1) NOT NULL,
	[nhanVienID] [int] NOT NULL,
	[ngayLap] [datetime] NOT NULL,
	[lyDoHaoHut] [nvarchar](250) NOT NULL,
	[tongGiaTriThietHai] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[baoCaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BotCache]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BotCache](
	[botID] [int] IDENTITY(1,1) NOT NULL,
	[userQuery] [nvarchar](450) NOT NULL,
	[botResponse] [nvarchar](max) NOT NULL,
	[createAt] [datetime] NOT NULL,
	[hitCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[botID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBaoCaoHaoHut]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBaoCaoHaoHut](
	[baoCaoID] [int] NOT NULL,
	[loHangID] [int] NOT NULL,
	[soLuongHaoHut] [decimal](10, 2) NOT NULL,
	[donGiaHaoHut] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[baoCaoID] ASC,
	[loHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangLe]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangLe](
	[donHangLeID] [int] NOT NULL,
	[nongSanID] [int] NOT NULL,
	[soLuongDat] [int] NOT NULL,
	[trongLuongThucTe] [decimal](10, 2) NULL,
	[donGiaThoiDiem] [decimal](18, 2) NOT NULL,
	[thanhTienThucTe] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[donHangLeID] ASC,
	[nongSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[khachHangID] [int] NOT NULL,
	[nongSanID] [int] NOT NULL,
	[soLuong] [decimal](10, 2) NOT NULL,
	[ngayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[khachHangID] ASC,
	[nongSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGoiDinhKy]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGoiDinhKy](
	[goiID] [int] NOT NULL,
	[nongSanID] [int] NOT NULL,
	[soLuongMoiDot] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[goiID] ASC,
	[nongSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSanPham]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPham](
	[danhGiaID] [int] IDENTITY(1,1) NOT NULL,
	[khachHangID] [int] NOT NULL,
	[nongSanID] [int] NOT NULL,
	[donHangLeID] [int] NOT NULL,
	[soSao] [int] NOT NULL,
	[binhLuan] [nvarchar](500) NULL,
	[hinhAnhThucTe] [varchar](255) NULL,
	[ngayDanhGia] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[danhGiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[danhMucID] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](250) NULL,
	[loaiHang] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[danhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangLe]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangLe](
	[donHangLeID] [int] IDENTITY(1,1) NOT NULL,
	[khachHangID] [int] NULL,
	[diaChiID] [int] NULL,
	[nhanVienID] [int] NULL,
	[ngayDat] [datetime] NOT NULL,
	[tongTienTamTinh] [decimal](18, 2) NOT NULL,
	[tongTienThucTe] [decimal](18, 2) NULL,
	[tienChenhLech] [decimal](18, 2) NULL,
	[trangThaiThanhToan] [nvarchar](50) NOT NULL,
	[phuongThucThanhToan] [nvarchar](50) NOT NULL,
	[khungGioGiaoHang] [nvarchar](100) NOT NULL,
	[trangThaiDonHang] [nvarchar](50) NOT NULL,
	[PhoneNonAccount] [varchar](15) NULL,
	[NameCusNonAccount] [nvarchar](100) NULL,
	[AddressNonAccount] [nvarchar](500) NULL,
	[KhuyenMaiId] [int] NULL,
	[EmailNonAccount] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[donHangLeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotGiaoDinhKy]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotGiaoDinhKy](
	[dotGiaoID] [int] IDENTITY(1,1) NOT NULL,
	[goiID] [int] NOT NULL,
	[nhanVienID] [int] NULL,
	[ngayGiaoThucTe] [datetime] NOT NULL,
	[trongLuongThucTeDot] [decimal](10, 2) NULL,
	[trangThaiGiao] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dotGiaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichThanhToan]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichThanhToan](
	[giaoDichID] [int] IDENTITY(1,1) NOT NULL,
	[donHangLeID] [int] NULL,
	[goiDangKyID] [int] NULL,
	[maGiaoDichCong] [varchar](100) NOT NULL,
	[soTien] [decimal](18, 2) NOT NULL,
	[phuongThuc] [nvarchar](50) NOT NULL,
	[ngayGiaoDich] [datetime] NOT NULL,
	[trangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[giaoDichID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiDangKyDinhKy]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiDangKyDinhKy](
	[goiID] [int] IDENTITY(1,1) NOT NULL,
	[khachHangID] [int] NOT NULL,
	[diaChiID] [int] NOT NULL,
	[ngayBatDau] [datetime] NOT NULL,
	[ngayKetThuc] [datetime] NOT NULL,
	[tanSuatGiao] [nvarchar](50) NOT NULL,
	[thuTrongTuan] [varchar](50) NOT NULL,
	[tongTienGoi] [decimal](18, 2) NOT NULL,
	[trangThaiGoi] [nvarchar](50) NOT NULL,
	[KhuyenMaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[goiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[khachHangID] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[soDienThoai] [varchar](15) NOT NULL,
	[email] [varchar](100) NULL,
	[matKhauMaHoa] [varchar](250) NOT NULL,
	[ngayDangKy] [datetime] NOT NULL,
	[diemTichLuy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[khachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhieuNai]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhieuNai](
	[khieuNaiID] [int] IDENTITY(1,1) NOT NULL,
	[khachHangID] [int] NOT NULL,
	[donHangLeID] [int] NULL,
	[dotGiaoID] [int] NULL,
	[nhanVienID] [int] NULL,
	[noiDung] [nvarchar](max) NOT NULL,
	[hinhAnhMinhChung] [varchar](255) NULL,
	[ngayGui] [datetime] NOT NULL,
	[phuongAnXuLy] [nvarchar](500) NULL,
	[soTienHoan] [decimal](18, 2) NOT NULL,
	[trangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[khieuNaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[khuyenMaiID] [int] IDENTITY(1,1) NOT NULL,
	[voucherCode] [varchar](50) NULL,
	[tenChuongTrinh] [nvarchar](100) NOT NULL,
	[loaiGiamGia] [int] NOT NULL,
	[mucGiam] [decimal](18, 2) NOT NULL,
	[giaTriDonToiThieu] [decimal](18, 2) NOT NULL,
	[soTienGiamToiDa] [decimal](18, 2) NOT NULL,
	[soLuotPhatHanh] [int] NOT NULL,
	[soLuotDaDung] [int] NOT NULL,
	[ngayBatDau] [datetime] NOT NULL,
	[ngayKetThuc] [datetime] NOT NULL,
	[trangThai] [bit] NOT NULL,
	[NongSanId] [int] NULL,
	[DanhMucId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[khuyenMaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoHang]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoHang](
	[LoHangID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapID] [int] NOT NULL,
	[NongSanID] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[SoLuongNhap] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [decimal](18, 2) NOT NULL,
	[NgayThuHoach] [datetime] NULL,
	[NgayNhapKho] [datetime] NOT NULL,
	[HanSuDung] [datetime] NOT NULL,
	[TrangThaiHsd] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[nhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[matKhau] [varchar](250) NOT NULL,
	[vaiTroID] [int] NOT NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[nhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaVuon]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaVuon](
	[nhaVuonID] [int] IDENTITY(1,1) NOT NULL,
	[tenNhaVuon] [nvarchar](150) NOT NULL,
	[diaChi] [nvarchar](250) NULL,
	[soDienThoai] [varchar](15) NULL,
	[chungNhanAnToan] [nvarchar](100) NULL,
	[cauChuyenNhaVuon] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[nhaVuonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NongSan]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NongSan](
	[nongSanID] [int] IDENTITY(1,1) NOT NULL,
	[tenNongSan] [nvarchar](150) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[hinhAnh] [varchar](250) NULL,
	[giaBanNiemYet] [decimal](18, 2) NOT NULL,
	[donViTinh] [nvarchar](50) NOT NULL,
	[saiSoChoPhep] [int] NOT NULL,
	[danhMucID] [int] NOT NULL,
	[nhaVuonID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nongSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuChiCongNo]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChiCongNo](
	[phieuChiID] [int] IDENTITY(1,1) NOT NULL,
	[nhaVuonID] [int] NOT NULL,
	[nhanVienID] [int] NOT NULL,
	[ngayLap] [datetime] NOT NULL,
	[soTienThucChi] [decimal](18, 2) NOT NULL,
	[phuongThuc] [int] NOT NULL,
	[maGiaoDich] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[phieuChiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[phieuNhapID] [int] IDENTITY(1,1) NOT NULL,
	[nhaVuonID] [int] NOT NULL,
	[nhanVienID] [int] NOT NULL,
	[ngayLapPhieu] [datetime] NOT NULL,
	[tongTienNhap] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phieuNhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoDiaChi]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoDiaChi](
	[diaChiID] [int] IDENTITY(1,1) NOT NULL,
	[khachHangID] [int] NOT NULL,
	[tenNguoiNhan] [nvarchar](100) NOT NULL,
	[soDienThoaiNhan] [varchar](15) NOT NULL,
	[diaChiGiao] [nvarchar](250) NOT NULL,
	[loaiDiaChi] [nvarchar](50) NULL,
	[isDefault] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[diaChiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTicket]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTicket](
	[ticketID] [int] IDENTITY(1,1) NOT NULL,
	[nhanVienID] [int] NULL,
	[khachHangID] [int] NULL,
	[tenKhachHang] [nvarchar](100) NOT NULL,
	[emailLienHe] [nvarchar](250) NULL,
	[cauHoi] [nvarchar](450) NOT NULL,
	[adminTraLoi] [nvarchar](max) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[ngayTao] [datetime] NOT NULL,
	[ngayPhanHoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThamSo]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamSo](
	[maThamSo] [varchar](20) NOT NULL,
	[giaTri] [decimal](18, 2) NOT NULL,
	[ghiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[maThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroPhanQuyen]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroPhanQuyen](
	[vaiTroID] [int] IDENTITY(1,1) NOT NULL,
	[tenVaiTro] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[vaiTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 25/07/2026 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[KhachHangId] [int] NOT NULL,
	[NongSanId] [int] NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangId] ASC,
	[NongSanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaoCaoHaoHut] ON 

INSERT [dbo].[BaoCaoHaoHut] ([baoCaoID], [nhanVienID], [ngayLap], [lyDoHaoHut], [tongGiaTriThietHai]) VALUES (1, 1, CAST(N'2026-07-10T12:44:03.357' AS DateTime), N'Hết hạn', CAST(19860000.00 AS Decimal(18, 2)))
INSERT [dbo].[BaoCaoHaoHut] ([baoCaoID], [nhanVienID], [ngayLap], [lyDoHaoHut], [tongGiaTriThietHai]) VALUES (2, 2, CAST(N'2026-07-11T11:05:11.307' AS DateTime), N'Hết hạn', CAST(19980000.00 AS Decimal(18, 2)))
INSERT [dbo].[BaoCaoHaoHut] ([baoCaoID], [nhanVienID], [ngayLap], [lyDoHaoHut], [tongGiaTriThietHai]) VALUES (3, 1, CAST(N'2026-07-13T19:31:57.470' AS DateTime), N'hết hạn', CAST(1410000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BaoCaoHaoHut] OFF
GO
SET IDENTITY_INSERT [dbo].[BotCache] ON 

SET IDENTITY_INSERT [dbo].[BotCache] OFF
GO
INSERT [dbo].[ChiTietBaoCaoHaoHut] ([baoCaoID], [loHangID], [soLuongHaoHut], [donGiaHaoHut]) VALUES (1, 1, CAST(993.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietBaoCaoHaoHut] ([baoCaoID], [loHangID], [soLuongHaoHut], [donGiaHaoHut]) VALUES (2, 4, CAST(999.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietBaoCaoHaoHut] ([baoCaoID], [loHangID], [soLuongHaoHut], [donGiaHaoHut]) VALUES (3, 2, CAST(94.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietDonHangLe] ([donHangLeID], [nongSanID], [soLuongDat], [trongLuongThucTe], [donGiaThoiDiem], [thanhTienThucTe]) VALUES (1, 1, 1, NULL, CAST(35000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietDonHangLe] ([donHangLeID], [nongSanID], [soLuongDat], [trongLuongThucTe], [donGiaThoiDiem], [thanhTienThucTe]) VALUES (1, 2, 1, NULL, CAST(42000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietDonHangLe] ([donHangLeID], [nongSanID], [soLuongDat], [trongLuongThucTe], [donGiaThoiDiem], [thanhTienThucTe]) VALUES (2, 3, 1, NULL, CAST(85000.00 AS Decimal(18, 2)), NULL)
GO
INSERT [dbo].[ChiTietGoiDinhKy] ([goiID], [nongSanID], [soLuongMoiDot]) VALUES (1, 3, CAST(3.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietGoiDinhKy] ([goiID], [nongSanID], [soLuongMoiDot]) VALUES (2, 2, CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietGoiDinhKy] ([goiID], [nongSanID], [soLuongMoiDot]) VALUES (2, 3, CAST(5.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[DanhGiaSanPham] ON 

INSERT [dbo].[DanhGiaSanPham] ([danhGiaID], [khachHangID], [nongSanID], [donHangLeID], [soSao], [binhLuan], [hinhAnhThucTe], [ngayDanhGia]) VALUES (1, 1, 1, 1, 5, N'Rau rất tươi, giao hàng nhanh, bọc gói kỹ càng đúng chuẩn Foodmap!', NULL, CAST(N'2026-06-29T09:38:47.537' AS DateTime))
INSERT [dbo].[DanhGiaSanPham] ([danhGiaID], [khachHangID], [nongSanID], [donHangLeID], [soSao], [binhLuan], [hinhAnhThucTe], [ngayDanhGia]) VALUES (4, 1, 1, 31, 5, N'Tươi, Xanh, Tốt!', NULL, CAST(N'2026-07-07T19:54:22.520' AS DateTime))
INSERT [dbo].[DanhGiaSanPham] ([danhGiaID], [khachHangID], [nongSanID], [donHangLeID], [soSao], [binhLuan], [hinhAnhThucTe], [ngayDanhGia]) VALUES (5, 1, 2, 31, 5, N'Tươi, Xanh, Tốt!', NULL, CAST(N'2026-07-07T19:54:22.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhGiaSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [moTa], [loaiHang]) VALUES (1, N'Rau Củ Hữu Cơ', N'Các loại rau củ đạt chuẩn hữu cơ, VietGAP', N'Hàng tươi')
INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [moTa], [loaiHang]) VALUES (2, N'Trái Cây Nhiệt Đới', N'Trái cây tươi ngon thu hoạch từ các vườn miền Tây', N'Hàng tươi')
INSERT [dbo].[DanhMuc] ([danhMucID], [tenDanhMuc], [moTa], [loaiHang]) VALUES (3, N'Nông Sản Khô & Hạt', N'Các loại hạt dinh dưỡng, đặc sản sấy khô', N'Hàng khô')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangLe] ON 

INSERT [dbo].[DonHangLe] ([donHangLeID], [khachHangID], [diaChiID], [nhanVienID], [ngayDat], [tongTienTamTinh], [tongTienThucTe], [tienChenhLech], [trangThaiThanhToan], [phuongThucThanhToan], [khungGioGiaoHang], [trangThaiDonHang], [PhoneNonAccount], [NameCusNonAccount], [AddressNonAccount], [KhuyenMaiId], [EmailNonAccount]) VALUES (1, 1, 1, NULL, CAST(N'2026-06-29T09:38:47.533' AS DateTime), CAST(77000.00 AS Decimal(18, 2)), CAST(77000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Chưa', N'COD', N'08:00 - 12:00', N'Đã hủy', NULL, NULL, NULL, NULL, N'khachhangA@gmail.com')
SET IDENTITY_INSERT [dbo].[DonHangLe] OFF
GO
SET IDENTITY_INSERT [dbo].[DotGiaoDinhKy] ON 

INSERT [dbo].[DotGiaoDinhKy] ([dotGiaoID], [goiID], [nhanVienID], [ngayGiaoThucTe], [trongLuongThucTeDot], [trangThaiGiao]) VALUES (11, 35, NULL, CAST(N'2026-07-20T09:52:41.310' AS DateTime), CAST(0.00 AS Decimal(10, 2)), N'Đã hủy')
INSERT [dbo].[DotGiaoDinhKy] ([dotGiaoID], [goiID], [nhanVienID], [ngayGiaoThucTe], [trongLuongThucTeDot], [trangThaiGiao]) VALUES (12, 35, NULL, CAST(N'2026-07-27T09:52:41.310' AS DateTime), CAST(0.00 AS Decimal(10, 2)), N'Đã hủy')
INSERT [dbo].[DotGiaoDinhKy] ([dotGiaoID], [goiID], [nhanVienID], [ngayGiaoThucTe], [trongLuongThucTeDot], [trangThaiGiao]) VALUES (13, 35, NULL, CAST(N'2026-08-03T09:52:41.310' AS DateTime), CAST(0.00 AS Decimal(10, 2)), N'Đã hủy')
SET IDENTITY_INSERT [dbo].[DotGiaoDinhKy] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaoDichThanhToan] ON 

INSERT [dbo].[GiaoDichThanhToan] ([giaoDichID], [donHangLeID], [goiDangKyID], [maGiaoDichCong], [soTien], [phuongThuc], [ngayGiaoDich], [trangThai]) VALUES (1, 2, NULL, N'VNPAY20260629093847', CAST(85000.00 AS Decimal(18, 2)), N'VNPAY', CAST(N'2026-06-29T09:38:47.533' AS DateTime), 1)
INSERT [dbo].[GiaoDichThanhToan] ([giaoDichID], [donHangLeID], [goiDangKyID], [maGiaoDichCong], [soTien], [phuongThuc], [ngayGiaoDich], [trangThai]) VALUES (5, 39, NULL, N'MOMO20260707183743', CAST(750000.00 AS Decimal(18, 2)), N'MOMO', CAST(N'2026-07-07T18:37:43.703' AS DateTime), 2)
INSERT [dbo].[GiaoDichThanhToan] ([giaoDichID], [donHangLeID], [goiDangKyID], [maGiaoDichCong], [soTien], [phuongThuc], [ngayGiaoDich], [trangThai]) VALUES (16, 92, NULL, N'VNPAY20260709160314', CAST(65000.00 AS Decimal(18, 2)), N'VNPAY', CAST(N'2026-07-09T16:03:14.710' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[GiaoDichThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[GoiDangKyDinhKy] ON 

INSERT [dbo].[GoiDangKyDinhKy] ([goiID], [khachHangID], [diaChiID], [ngayBatDau], [ngayKetThuc], [tanSuatGiao], [thuTrongTuan], [tongTienGoi], [trangThaiGoi], [KhuyenMaiId]) VALUES (1, 1, 1, CAST(N'2026-07-02T13:52:10.077' AS DateTime), CAST(N'2026-07-30T13:52:10.077' AS DateTime), N'HangTuan', N'Thu 2', CAST(1020000.00 AS Decimal(18, 2)), N'Đã hủy', NULL)
INSERT [dbo].[GoiDangKyDinhKy] ([goiID], [khachHangID], [diaChiID], [ngayBatDau], [ngayKetThuc], [tanSuatGiao], [thuTrongTuan], [tongTienGoi], [trangThaiGoi], [KhuyenMaiId]) VALUES (2, 1, 1, CAST(N'2026-07-03T09:10:00.497' AS DateTime), CAST(N'2026-08-01T09:10:00.497' AS DateTime), N'HangTuan', N'Thu 2', CAST(2540000.00 AS Decimal(18, 2)), N'Đã hủy', NULL)
INSERT [dbo].[GoiDangKyDinhKy] ([goiID], [khachHangID], [diaChiID], [ngayBatDau], [ngayKetThuc], [tanSuatGiao], [thuTrongTuan], [tongTienGoi], [trangThaiGoi], [KhuyenMaiId]) VALUES (35, 1, 3, CAST(N'2026-07-20T09:52:41.310' AS DateTime), CAST(N'2026-08-20T09:52:41.310' AS DateTime), N'Hàng tuần (1 tuần/lần)', N'Thu 2', CAST(600000.00 AS Decimal(18, 2)), N'Đã hủy', NULL)
SET IDENTITY_INSERT [dbo].[GoiDangKyDinhKy] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([khachHangID], [hoTen], [soDienThoai], [email], [matKhauMaHoa], [ngayDangKy], [diemTichLuy]) VALUES (1, N'Nguyễn Văn A', N'0901112222', N'khachhangA@gmail.com', N'CustPass123', CAST(N'2026-06-29T09:38:47.530' AS DateTime), 184)
INSERT [dbo].[KhachHang] ([khachHangID], [hoTen], [soDienThoai], [email], [matKhauMaHoa], [ngayDangKy], [diemTichLuy]) VALUES (10, N'Ngô Quang Hào', N'0933952065', N'haongo14042005@gmail.com', N'Quanghao@1404', CAST(N'2026-07-25T14:27:50.477' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhieuNai] ON 

INSERT [dbo].[KhieuNai] ([khieuNaiID], [khachHangID], [donHangLeID], [dotGiaoID], [nhanVienID], [noiDung], [hinhAnhMinhChung], [ngayGui], [phuongAnXuLy], [soTienHoan], [trangThai]) VALUES (5, 1, 93, NULL, NULL, N'Sản phẩm bị hư', NULL, CAST(N'2026-07-09T16:53:43.230' AS DateTime), N'Đã tiếp nhận và xác nhận có minh chứng. Chúng tôi quyết định hoàn trả lại toàn bộ số tiền cho bạn!', CAST(65000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[KhieuNai] ([khieuNaiID], [khachHangID], [donHangLeID], [dotGiaoID], [nhanVienID], [noiDung], [hinhAnhMinhChung], [ngayGui], [phuongAnXuLy], [soTienHoan], [trangThai]) VALUES (6, 1, 121, NULL, 1, N'Sản phẩm bị hỏng', NULL, CAST(N'2026-07-15T10:05:55.557' AS DateTime), N'Đã xác minh! Chúng tôi sẽ hoàn tiền cho bạn!', CAST(65000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[KhieuNai] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([khuyenMaiID], [voucherCode], [tenChuongTrinh], [loaiGiamGia], [mucGiam], [giaTriDonToiThieu], [soTienGiamToiDa], [soLuotPhatHanh], [soLuotDaDung], [ngayBatDau], [ngayKetThuc], [trangThai], [NongSanId], [DanhMucId]) VALUES (2, N'BANMOI50', N'Ưu đãi chào mừng thành viên mới', 2, CAST(50000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), 999, 0, CAST(N'2026-07-23T13:24:17.373' AS DateTime), CAST(N'2027-08-23T13:24:17.373' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[KhuyenMai] ([khuyenMaiID], [voucherCode], [tenChuongTrinh], [loaiGiamGia], [mucGiam], [giaTriDonToiThieu], [soTienGiamToiDa], [soLuotPhatHanh], [soLuotDaDung], [ngayBatDau], [ngayKetThuc], [trangThai], [NongSanId], [DanhMucId]) VALUES (8, NULL, N'Ưu đãi nông sản xanh', 1, CAST(25.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(7500.00 AS Decimal(18, 2)), 999, 0, CAST(N'2026-07-23T09:42:46.260' AS DateTime), CAST(N'2026-08-23T09:42:46.260' AS DateTime), 1, NULL, 1)
INSERT [dbo].[KhuyenMai] ([khuyenMaiID], [voucherCode], [tenChuongTrinh], [loaiGiamGia], [mucGiam], [giaTriDonToiThieu], [soTienGiamToiDa], [soLuotPhatHanh], [soLuotDaDung], [ngayBatDau], [ngayKetThuc], [trangThai], [NongSanId], [DanhMucId]) VALUES (9, N'FRESHNEW26', N'Ưu đãi sản phẩm', 2, CAST(20000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), 999, 1, CAST(N'2026-07-23T10:18:11.203' AS DateTime), CAST(N'2026-08-23T10:18:11.203' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[LoHang] ON 

INSERT [dbo].[LoHang] ([LoHangID], [PhieuNhapID], [NongSanID], [DonGiaNhap], [SoLuongNhap], [SoLuongTon], [NgayThuHoach], [NgayNhapKho], [HanSuDung], [TrangThaiHsd]) VALUES (1, 1, 1, CAST(20000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-27T09:55:00.000' AS DateTime), CAST(N'2026-06-29T09:55:00.000' AS DateTime), CAST(N'2026-07-10T00:00:00.000' AS DateTime), N'Hết hàng')
INSERT [dbo].[LoHang] ([LoHangID], [PhieuNhapID], [NongSanID], [DonGiaNhap], [SoLuongNhap], [SoLuongTon], [NgayThuHoach], [NgayNhapKho], [HanSuDung], [TrangThaiHsd]) VALUES (2, 2, 2, CAST(15000.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-27T09:57:00.000' AS DateTime), CAST(N'2026-06-29T09:57:00.000' AS DateTime), CAST(N'2026-07-10T00:00:00.000' AS DateTime), N'Hết hàng')
INSERT [dbo].[LoHang] ([LoHangID], [PhieuNhapID], [NongSanID], [DonGiaNhap], [SoLuongNhap], [SoLuongTon], [NgayThuHoach], [NgayNhapKho], [HanSuDung], [TrangThaiHsd]) VALUES (3, 3, 3, CAST(15000.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-27T09:59:00.000' AS DateTime), CAST(N'2026-06-29T09:59:00.000' AS DateTime), CAST(N'2026-07-10T00:00:00.000' AS DateTime), N'Hết hàng')
SET IDENTITY_INSERT [dbo].[LoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([nhanVienID], [hoTen], [email], [matKhau], [vaiTroID], [trangThai]) VALUES (1, N'Ngô Quang Hào', N'haonq@foodmap.vn', N'AdminPass123', 1, 1)
INSERT [dbo].[NhanVien] ([nhanVienID], [hoTen], [email], [matKhau], [vaiTroID], [trangThai]) VALUES (2, N'David Nguyen', N'david@foodmap.vn', N'StaffPass123', 2, 1)
INSERT [dbo].[NhanVien] ([nhanVienID], [hoTen], [email], [matKhau], [vaiTroID], [trangThai]) VALUES (3, N'Ruby Tran', N'ruby@foodmap.vn', N'StaffPass123', 3, 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaVuon] ON 

INSERT [dbo].[NhaVuon] ([nhaVuonID], [tenNhaVuon], [diaChi], [soDienThoai], [chungNhanAnToan], [cauChuyenNhaVuon]) VALUES (1, N'Hợp Tác Xã Nông Nghiệp Xanh Đà Lạt', N'Lạc Dương, Lâm Đồng', N'0912345678', N'GlobalGAP', N'Nơi khởi nguồn của những cây rau xứ lạnh được chăm sóc bằng công nghệ tưới nhỏ giọt tự động.')
INSERT [dbo].[NhaVuon] ([nhaVuonID], [tenNhaVuon], [diaChi], [soDienThoai], [chungNhanAnToan], [cauChuyenNhaVuon]) VALUES (2, N'Miệt Vườn Cửu Long', N'Cái Bè, Tiền Giang', N'0987654321', N'VietGAP', N'Chuyên cung cấp các loại trái cây đặc sản miền Tây sông nước chín cây tự nhiên.')
SET IDENTITY_INSERT [dbo].[NhaVuon] OFF
GO
SET IDENTITY_INSERT [dbo].[NongSan] ON 

INSERT [dbo].[NongSan] ([nongSanID], [tenNongSan], [moTa], [hinhAnh], [giaBanNiemYet], [donViTinh], [saiSoChoPhep], [danhMucID], [nhaVuonID]) VALUES (1, N'Xà Lách Mỹ Đà Lạt', N'Rau xà lách tươi ngon, giòn ngọt, thích hợp làm salad. Trồng theo chuẩn hữu cơ không thuốc trừ sâu.', N'xa-lach.jpg', CAST(35000.00 AS Decimal(18, 2)), N'Bó (500g)', 10, 1, 1)
INSERT [dbo].[NongSan] ([nongSanID], [tenNongSan], [moTa], [hinhAnh], [giaBanNiemYet], [donViTinh], [saiSoChoPhep], [danhMucID], [nhaVuonID]) VALUES (2, N'Cà Chua Beef Premium', N'Cà chua trái lớn, mọng nước, nhiều bột. Giàu vitamin A và C tốt cho sức khỏe.', N'ca-chua.jpg', CAST(42000.00 AS Decimal(18, 2)), N'Kg', 5, 1, 1)
INSERT [dbo].[NongSan] ([nongSanID], [tenNongSan], [moTa], [hinhAnh], [giaBanNiemYet], [donViTinh], [saiSoChoPhep], [danhMucID], [nhaVuonID]) VALUES (3, N'Xoài Cát Hòa Lộc Chín Cây', N'Xoài cát loại 1, vị ngọt đậm đà, hương thơm đặc trưng, thịt quả dày không xơ.', N'xoai-cat.jpg', CAST(85000.00 AS Decimal(18, 2)), N'Kg', 8, 2, 1)
SET IDENTITY_INSERT [dbo].[NongSan] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuChiCongNo] ON 

INSERT [dbo].[PhieuChiCongNo] ([phieuChiID], [nhaVuonID], [nhanVienID], [ngayLap], [soTienThucChi], [phuongThuc], [maGiaoDich]) VALUES (1, 1, 1, CAST(N'2026-07-10T12:45:06.130' AS DateTime), CAST(450500000.00 AS Decimal(18, 2)), 1, N'PENDING-1-202607101245')
SET IDENTITY_INSERT [dbo].[PhieuChiCongNo] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] ON 

INSERT [dbo].[PhieuNhapKho] ([phieuNhapID], [nhaVuonID], [nhanVienID], [ngayLapPhieu], [tongTienNhap]) VALUES (1, 1, 1, CAST(N'2026-06-29T09:55:00.000' AS DateTime), CAST(20000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhapKho] ([phieuNhapID], [nhaVuonID], [nhanVienID], [ngayLapPhieu], [tongTienNhap]) VALUES (2, 1, 1, CAST(N'2026-06-29T09:57:00.000' AS DateTime), CAST(1500000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhapKho] ([phieuNhapID], [nhaVuonID], [nhanVienID], [ngayLapPhieu], [tongTienNhap]) VALUES (3, 1, 1, CAST(N'2026-06-29T09:59:00.000' AS DateTime), CAST(1500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[SoDiaChi] ON 

INSERT [dbo].[SoDiaChi] ([diaChiID], [khachHangID], [tenNguoiNhan], [soDienThoaiNhan], [diaChiGiao], [loaiDiaChi], [isDefault]) VALUES (1, 1, N'Nguyễn Văn A', N'0901112222', N'123 Nguyễn Tri Phương, Quận 10, TP.HCM', N'Nhà riêng', 0)
INSERT [dbo].[SoDiaChi] ([diaChiID], [khachHangID], [tenNguoiNhan], [soDienThoaiNhan], [diaChiGiao], [loaiDiaChi], [isDefault]) VALUES (3, 1, N'Nguyễn Văn A', N'0901112222', N'Ấp 9, Xã Tân Nhựt, Thành phố Hồ Chí Minh', N'Nhà riêng', 1)
SET IDENTITY_INSERT [dbo].[SoDiaChi] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportTicket] ON 

INSERT [dbo].[SupportTicket] ([ticketID], [nhanVienID], [khachHangID], [tenKhachHang], [emailLienHe], [cauHoi], [adminTraLoi], [trangThai], [ngayTao], [ngayPhanHoi]) VALUES (1, 1, 1, N'Nguyễn Văn A', N'khachhangA@gmail.com', N'chào bạn, tôi muốn biết về đặt hàng.', N'abc', N'Đã xem', CAST(N'2026-07-25T11:34:26.243' AS DateTime), CAST(N'2026-07-25T11:34:34.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[SupportTicket] OFF
GO
INSERT [dbo].[ThamSo] ([maThamSo], [giaTri], [ghiChu]) VALUES (N'TS1', CAST(15.00 AS Decimal(18, 2)), N'Phần trăm sai số trọng lượng tối đa cho phép khi bốc xếp hàng tươi sống')
INSERT [dbo].[ThamSo] ([maThamSo], [giaTri], [ghiChu]) VALUES (N'TS2', CAST(3.00 AS Decimal(18, 2)), N'Số ngày tối đa hệ thống cảnh báo trước khi hàng tươi sống hết hạn sử dụng')
INSERT [dbo].[ThamSo] ([maThamSo], [giaTri], [ghiChu]) VALUES (N'TS3', CAST(50000.00 AS Decimal(18, 2)), N'Số điểm tích lũy tối thiểu của Khách hàng thân thiết để đổi voucher')
GO
SET IDENTITY_INSERT [dbo].[VaiTroPhanQuyen] ON 

INSERT [dbo].[VaiTroPhanQuyen] ([vaiTroID], [tenVaiTro], [moTa]) VALUES (1, N'Admin', N'Quản trị viên toàn quyền hệ thống')
INSERT [dbo].[VaiTroPhanQuyen] ([vaiTroID], [tenVaiTro], [moTa]) VALUES (2, N'ThuKho', N'Nhân viên quản lý nhập xuất kho nông sản')
INSERT [dbo].[VaiTroPhanQuyen] ([vaiTroID], [tenVaiTro], [moTa]) VALUES (3, N'KeToan', N'Nhân viên quản lý tài chính và công nợ nhà vườn')
SET IDENTITY_INSERT [dbo].[VaiTroPhanQuyen] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BotCache_UserQuery]    Script Date: 25/07/2026 21:22:03 ******/
CREATE NONCLUSTERED INDEX [IX_BotCache_UserQuery] ON [dbo].[BotCache]
(
	[userQuery] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GiaoDich__F5F9964028B59B9E]    Script Date: 25/07/2026 21:22:03 ******/
ALTER TABLE [dbo].[GiaoDichThanhToan] ADD UNIQUE NONCLUSTERED 
(
	[maGiaoDichCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__06ACB9A27AB82B97]    Script Date: 25/07/2026 21:22:03 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__AB6E6164233E5467]    Script Date: 25/07/2026 21:22:03 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuyenMa__09FEFFB04DFE65AF]    Script Date: 25/07/2026 21:22:03 ******/
ALTER TABLE [dbo].[KhuyenMai] ADD UNIQUE NONCLUSTERED 
(
	[voucherCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__AB6E61646024E2CB]    Script Date: 25/07/2026 21:22:03 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaVuon__06ACB9A22D6DF864]    Script Date: 25/07/2026 21:22:03 ******/
ALTER TABLE [dbo].[NhaVuon] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VaiTroPh__BDF7AFDF9F95903F]    Script Date: 25/07/2026 21:22:03 ******/
ALTER TABLE [dbo].[VaiTroPhanQuyen] ADD UNIQUE NONCLUSTERED 
(
	[tenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoCaoHaoHut] ADD  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[BaoCaoHaoHut] ADD  DEFAULT ((0)) FOR [tongGiaTriThietHai]
GO
ALTER TABLE [dbo].[BotCache] ADD  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[BotCache] ADD  DEFAULT ((1)) FOR [hitCount]
GO
ALTER TABLE [dbo].[ChiTietGioHang] ADD  DEFAULT (getdate()) FOR [ngayCapNhat]
GO
ALTER TABLE [dbo].[DanhGiaSanPham] ADD  DEFAULT (getdate()) FOR [ngayDanhGia]
GO
ALTER TABLE [dbo].[DonHangLe] ADD  DEFAULT (getdate()) FOR [ngayDat]
GO
ALTER TABLE [dbo].[DonHangLe] ADD  DEFAULT ((0)) FOR [tienChenhLech]
GO
ALTER TABLE [dbo].[DonHangLe] ADD  DEFAULT (N'Chưa') FOR [trangThaiThanhToan]
GO
ALTER TABLE [dbo].[DonHangLe] ADD  DEFAULT (N'COD') FOR [phuongThucThanhToan]
GO
ALTER TABLE [dbo].[DonHangLe] ADD  DEFAULT (N'Chờ duyệt') FOR [trangThaiDonHang]
GO
ALTER TABLE [dbo].[DotGiaoDinhKy] ADD  DEFAULT (N'Chờ xử lý') FOR [trangThaiGiao]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] ADD  DEFAULT (getdate()) FOR [ngayGiaoDich]
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy] ADD  DEFAULT (N'Tạm dừng') FOR [trangThaiGoi]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [ngayDangKy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [diemTichLuy]
GO
ALTER TABLE [dbo].[KhieuNai] ADD  DEFAULT (getdate()) FOR [ngayGui]
GO
ALTER TABLE [dbo].[KhieuNai] ADD  DEFAULT ((0)) FOR [soTienHoan]
GO
ALTER TABLE [dbo].[KhieuNai] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [giaTriDonToiThieu]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [soTienGiamToiDa]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [soLuotDaDung]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[LoHang] ADD  DEFAULT (getdate()) FOR [NgayNhapKho]
GO
ALTER TABLE [dbo].[LoHang] ADD  DEFAULT (N'Còn hạn') FOR [TrangThaiHsd]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[NongSan] ADD  DEFAULT ((10)) FOR [saiSoChoPhep]
GO
ALTER TABLE [dbo].[PhieuChiCongNo] ADD  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (getdate()) FOR [ngayLapPhieu]
GO
ALTER TABLE [dbo].[SoDiaChi] ADD  DEFAULT (N'Nhà riêng') FOR [loaiDiaChi]
GO
ALTER TABLE [dbo].[SoDiaChi] ADD  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[SupportTicket] ADD  DEFAULT (N'Chờ xử lý') FOR [trangThai]
GO
ALTER TABLE [dbo].[SupportTicket] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[YeuThich] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[BaoCaoHaoHut]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoHH_NhanVien] FOREIGN KEY([nhanVienID])
REFERENCES [dbo].[NhanVien] ([nhanVienID])
GO
ALTER TABLE [dbo].[BaoCaoHaoHut] CHECK CONSTRAINT [FK_BaoCaoHH_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietBaoCaoHaoHut]  WITH CHECK ADD  CONSTRAINT [FK_CTBCHH_BaoCao] FOREIGN KEY([baoCaoID])
REFERENCES [dbo].[BaoCaoHaoHut] ([baoCaoID])
GO
ALTER TABLE [dbo].[ChiTietBaoCaoHaoHut] CHECK CONSTRAINT [FK_CTBCHH_BaoCao]
GO
ALTER TABLE [dbo].[ChiTietBaoCaoHaoHut]  WITH CHECK ADD  CONSTRAINT [FK_CTBCHH_LoHang] FOREIGN KEY([loHangID])
REFERENCES [dbo].[LoHang] ([LoHangID])
GO
ALTER TABLE [dbo].[ChiTietBaoCaoHaoHut] CHECK CONSTRAINT [FK_CTBCHH_LoHang]
GO
ALTER TABLE [dbo].[ChiTietDonHangLe]  WITH CHECK ADD  CONSTRAINT [FK_CTDHL_DonHang] FOREIGN KEY([donHangLeID])
REFERENCES [dbo].[DonHangLe] ([donHangLeID])
GO
ALTER TABLE [dbo].[ChiTietDonHangLe] CHECK CONSTRAINT [FK_CTDHL_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHangLe]  WITH CHECK ADD  CONSTRAINT [FK_CTDHL_NongSan] FOREIGN KEY([nongSanID])
REFERENCES [dbo].[NongSan] ([nongSanID])
GO
ALTER TABLE [dbo].[ChiTietDonHangLe] CHECK CONSTRAINT [FK_CTDHL_NongSan]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([khachHangID])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_NongSan] FOREIGN KEY([nongSanID])
REFERENCES [dbo].[NongSan] ([nongSanID])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_GioHang_NongSan]
GO
ALTER TABLE [dbo].[ChiTietGoiDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_CTGDK_GoiID] FOREIGN KEY([goiID])
REFERENCES [dbo].[GoiDangKyDinhKy] ([goiID])
GO
ALTER TABLE [dbo].[ChiTietGoiDinhKy] CHECK CONSTRAINT [FK_CTGDK_GoiID]
GO
ALTER TABLE [dbo].[ChiTietGoiDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_CTGDK_NongSan] FOREIGN KEY([nongSanID])
REFERENCES [dbo].[NongSan] ([nongSanID])
GO
ALTER TABLE [dbo].[ChiTietGoiDinhKy] CHECK CONSTRAINT [FK_CTGDK_NongSan]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_DonHang] FOREIGN KEY([donHangLeID])
REFERENCES [dbo].[DonHangLe] ([donHangLeID])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGia_DonHang]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang] FOREIGN KEY([khachHangID])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGia_KhachHang]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_NongSan] FOREIGN KEY([nongSanID])
REFERENCES [dbo].[NongSan] ([nongSanID])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGia_NongSan]
GO
ALTER TABLE [dbo].[DonHangLe]  WITH CHECK ADD  CONSTRAINT [FK_DonHangLe_KhachHang] FOREIGN KEY([khachHangID])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[DonHangLe] CHECK CONSTRAINT [FK_DonHangLe_KhachHang]
GO
ALTER TABLE [dbo].[DonHangLe]  WITH CHECK ADD  CONSTRAINT [FK_DonHangLe_KhuyenMai] FOREIGN KEY([KhuyenMaiId])
REFERENCES [dbo].[KhuyenMai] ([khuyenMaiID])
GO
ALTER TABLE [dbo].[DonHangLe] CHECK CONSTRAINT [FK_DonHangLe_KhuyenMai]
GO
ALTER TABLE [dbo].[DonHangLe]  WITH CHECK ADD  CONSTRAINT [FK_DonHangLe_NhanVien] FOREIGN KEY([nhanVienID])
REFERENCES [dbo].[NhanVien] ([nhanVienID])
GO
ALTER TABLE [dbo].[DonHangLe] CHECK CONSTRAINT [FK_DonHangLe_NhanVien]
GO
ALTER TABLE [dbo].[DonHangLe]  WITH CHECK ADD  CONSTRAINT [FK_DonHangLe_SoDiaChi] FOREIGN KEY([diaChiID])
REFERENCES [dbo].[SoDiaChi] ([diaChiID])
GO
ALTER TABLE [dbo].[DonHangLe] CHECK CONSTRAINT [FK_DonHangLe_SoDiaChi]
GO
ALTER TABLE [dbo].[DotGiaoDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_DotGiao_GoiID] FOREIGN KEY([goiID])
REFERENCES [dbo].[GoiDangKyDinhKy] ([goiID])
GO
ALTER TABLE [dbo].[DotGiaoDinhKy] CHECK CONSTRAINT [FK_DotGiao_GoiID]
GO
ALTER TABLE [dbo].[DotGiaoDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_DotGiao_NhanVien] FOREIGN KEY([nhanVienID])
REFERENCES [dbo].[NhanVien] ([nhanVienID])
GO
ALTER TABLE [dbo].[DotGiaoDinhKy] CHECK CONSTRAINT [FK_DotGiao_NhanVien]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_DonHang] FOREIGN KEY([donHangLeID])
REFERENCES [dbo].[DonHangLe] ([donHangLeID])
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] CHECK CONSTRAINT [FK_GiaoDich_DonHang]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_GoiDinhKy] FOREIGN KEY([goiDangKyID])
REFERENCES [dbo].[GoiDangKyDinhKy] ([goiID])
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] CHECK CONSTRAINT [FK_GiaoDich_GoiDinhKy]
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_GoiDangKyDinhKy_KhuyenMai] FOREIGN KEY([KhuyenMaiId])
REFERENCES [dbo].[KhuyenMai] ([khuyenMaiID])
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy] CHECK CONSTRAINT [FK_GoiDangKyDinhKy_KhuyenMai]
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_GoiDinhKy_KhachHang] FOREIGN KEY([khachHangID])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy] CHECK CONSTRAINT [FK_GoiDinhKy_KhachHang]
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy]  WITH CHECK ADD  CONSTRAINT [FK_GoiDinhKy_SoDiaChi] FOREIGN KEY([diaChiID])
REFERENCES [dbo].[SoDiaChi] ([diaChiID])
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy] CHECK CONSTRAINT [FK_GoiDinhKy_SoDiaChi]
GO
ALTER TABLE [dbo].[KhieuNai]  WITH CHECK ADD  CONSTRAINT [FK_KhieuNai_DonHang] FOREIGN KEY([donHangLeID])
REFERENCES [dbo].[DonHangLe] ([donHangLeID])
GO
ALTER TABLE [dbo].[KhieuNai] CHECK CONSTRAINT [FK_KhieuNai_DonHang]
GO
ALTER TABLE [dbo].[KhieuNai]  WITH CHECK ADD  CONSTRAINT [FK_KhieuNai_DotGiao] FOREIGN KEY([dotGiaoID])
REFERENCES [dbo].[DotGiaoDinhKy] ([dotGiaoID])
GO
ALTER TABLE [dbo].[KhieuNai] CHECK CONSTRAINT [FK_KhieuNai_DotGiao]
GO
ALTER TABLE [dbo].[KhieuNai]  WITH CHECK ADD  CONSTRAINT [FK_KhieuNai_KhachHang] FOREIGN KEY([khachHangID])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[KhieuNai] CHECK CONSTRAINT [FK_KhieuNai_KhachHang]
GO
ALTER TABLE [dbo].[KhieuNai]  WITH CHECK ADD  CONSTRAINT [FK_KhieuNai_NhanVien] FOREIGN KEY([nhanVienID])
REFERENCES [dbo].[NhanVien] ([nhanVienID])
GO
ALTER TABLE [dbo].[KhieuNai] CHECK CONSTRAINT [FK_KhieuNai_NhanVien]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_DanhMuc] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMuc] ([danhMucID])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_DanhMuc]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_NongSan] FOREIGN KEY([NongSanId])
REFERENCES [dbo].[NongSan] ([nongSanID])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_NongSan]
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD  CONSTRAINT [FK_LoHang_NongSan] FOREIGN KEY([NongSanID])
REFERENCES [dbo].[NongSan] ([nongSanID])
GO
ALTER TABLE [dbo].[LoHang] CHECK CONSTRAINT [FK_LoHang_NongSan]
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD  CONSTRAINT [FK_LoHang_PhieuNhap] FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[PhieuNhapKho] ([phieuNhapID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoHang] CHECK CONSTRAINT [FK_LoHang_PhieuNhap]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_VaiTro] FOREIGN KEY([vaiTroID])
REFERENCES [dbo].[VaiTroPhanQuyen] ([vaiTroID])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_VaiTro]
GO
ALTER TABLE [dbo].[NongSan]  WITH CHECK ADD  CONSTRAINT [FK_NongSan_DanhMuc] FOREIGN KEY([danhMucID])
REFERENCES [dbo].[DanhMuc] ([danhMucID])
GO
ALTER TABLE [dbo].[NongSan] CHECK CONSTRAINT [FK_NongSan_DanhMuc]
GO
ALTER TABLE [dbo].[NongSan]  WITH CHECK ADD  CONSTRAINT [FK_NongSan_NhaVuon] FOREIGN KEY([nhaVuonID])
REFERENCES [dbo].[NhaVuon] ([nhaVuonID])
GO
ALTER TABLE [dbo].[NongSan] CHECK CONSTRAINT [FK_NongSan_NhaVuon]
GO
ALTER TABLE [dbo].[PhieuChiCongNo]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_NhanVien] FOREIGN KEY([nhanVienID])
REFERENCES [dbo].[NhanVien] ([nhanVienID])
GO
ALTER TABLE [dbo].[PhieuChiCongNo] CHECK CONSTRAINT [FK_PhieuChi_NhanVien]
GO
ALTER TABLE [dbo].[PhieuChiCongNo]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_NhaVuon] FOREIGN KEY([nhaVuonID])
REFERENCES [dbo].[NhaVuon] ([nhaVuonID])
GO
ALTER TABLE [dbo].[PhieuChiCongNo] CHECK CONSTRAINT [FK_PhieuChi_NhaVuon]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([nhanVienID])
REFERENCES [dbo].[NhanVien] ([nhanVienID])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaVuon] FOREIGN KEY([nhaVuonID])
REFERENCES [dbo].[NhaVuon] ([nhaVuonID])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhap_NhaVuon]
GO
ALTER TABLE [dbo].[SoDiaChi]  WITH CHECK ADD  CONSTRAINT [FK_SoDiaChi_KhachHang] FOREIGN KEY([khachHangID])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[SoDiaChi] CHECK CONSTRAINT [FK_SoDiaChi_KhachHang]
GO
ALTER TABLE [dbo].[SupportTicket]  WITH CHECK ADD  CONSTRAINT [FK_Support_KhachHang] FOREIGN KEY([khachHangID])
REFERENCES [dbo].[KhachHang] ([khachHangID])
GO
ALTER TABLE [dbo].[SupportTicket] CHECK CONSTRAINT [FK_Support_KhachHang]
GO
ALTER TABLE [dbo].[SupportTicket]  WITH CHECK ADD  CONSTRAINT [FK_Support_NhanVien] FOREIGN KEY([nhanVienID])
REFERENCES [dbo].[NhanVien] ([nhanVienID])
GO
ALTER TABLE [dbo].[SupportTicket] CHECK CONSTRAINT [FK_Support_NhanVien]
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([khachHangID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([NongSanId])
REFERENCES [dbo].[NongSan] ([nongSanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaoCaoHaoHut]  WITH CHECK ADD CHECK  (([tongGiaTriThietHai]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietBaoCaoHaoHut]  WITH CHECK ADD CHECK  (([donGiaHaoHut]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietBaoCaoHaoHut]  WITH CHECK ADD CHECK  (([soLuongHaoHut]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHangLe]  WITH CHECK ADD CHECK  (([donGiaThoiDiem]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHangLe]  WITH CHECK ADD CHECK  (([soLuongDat]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHangLe]  WITH CHECK ADD CHECK  (([thanhTienThucTe]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHangLe]  WITH CHECK ADD CHECK  (([trongLuongThucTe]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD CHECK  (([soLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietGoiDinhKy]  WITH CHECK ADD CHECK  (([soLuongMoiDot]>(0)))
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD CHECK  (([soSao]>=(1) AND [soSao]<=(5)))
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD CHECK  (([loaiHang]=N'Hàng khô' OR [loaiHang]=N'Hàng tươi'))
GO
ALTER TABLE [dbo].[DonHangLe]  WITH CHECK ADD CHECK  (([tongTienTamTinh]>=(0)))
GO
ALTER TABLE [dbo].[DonHangLe]  WITH CHECK ADD CHECK  (([tongTienThucTe]>=(0)))
GO
ALTER TABLE [dbo].[DonHangLe]  WITH CHECK ADD CHECK  (([trangThaiThanhToan]=N'Đang xử lý' OR [trangThaiThanhToan]=N'Đã thanh toán' OR [trangThaiThanhToan]=N'Chưa'))
GO
ALTER TABLE [dbo].[DotGiaoDinhKy]  WITH CHECK ADD CHECK  (([trongLuongThucTeDot]>=(0)))
GO
ALTER TABLE [dbo].[GiaoDichThanhToan]  WITH CHECK ADD CHECK  (([soTien]>(0)))
GO
ALTER TABLE [dbo].[GiaoDichThanhToan]  WITH CHECK ADD CHECK  (([trangThai]=(2) OR [trangThai]=(1) OR [trangThai]=(0)))
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy]  WITH CHECK ADD CHECK  (([tongTienGoi]>(0)))
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy]  WITH CHECK ADD  CONSTRAINT [CK_GoiDinhKy_Dates] CHECK  (([ngayKetThuc]>[ngayBatDau]))
GO
ALTER TABLE [dbo].[GoiDangKyDinhKy] CHECK CONSTRAINT [CK_GoiDinhKy_Dates]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([diemTichLuy]>=(0)))
GO
ALTER TABLE [dbo].[KhieuNai]  WITH CHECK ADD CHECK  (([soTienHoan]>=(0)))
GO
ALTER TABLE [dbo].[KhieuNai]  WITH CHECK ADD CHECK  (([trangThai]=(2) OR [trangThai]=(1) OR [trangThai]=(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([giaTriDonToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([loaiGiamGia]=(2) OR [loaiGiamGia]=(1)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([mucGiam]>(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([soLuotPhatHanh]>(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([soTienGiamToiDa]>=(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai_Dates] CHECK  (([ngayKetThuc]>[ngayBatDau]))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_KhuyenMai_Dates]
GO
ALTER TABLE [dbo].[NongSan]  WITH CHECK ADD CHECK  (([giaBanNiemYet]>=(0)))
GO
ALTER TABLE [dbo].[NongSan]  WITH CHECK ADD CHECK  (([saiSoChoPhep]>=(0) AND [saiSoChoPhep]<=(100)))
GO
ALTER TABLE [dbo].[PhieuChiCongNo]  WITH CHECK ADD CHECK  (([phuongThuc]=(2) OR [phuongThuc]=(1)))
GO
ALTER TABLE [dbo].[PhieuChiCongNo]  WITH CHECK ADD CHECK  (([soTienThucChi]>(0)))
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD CHECK  (([tongTienNhap]>=(0)))
GO
USE [master]
GO
